---
title: "Energiewende"
description: "Detailseite zu Energiewende"
layout: layouts/base.njk
---

<section class="md:mt-20">
  <h1>Energiewende</h1>
  <p>
  
<b> Energiewende: </b> Schleunigst den Ausstieg aus fossiler Energie und Ausbau der erneuerbaren mit Förderungen, steuerlichen Anreizen und weiteren CO2-Abgaben. <br>

<br> Da Österreich bei Erdgasimporten zu 80% und Erdöl xx% von Russland abhängig ist, muss dringend Ersatz gefunden werden. Import aus anderen Ländern (mit noch höheren Kosten, 2021 waren es 12 Mill. Euro, für 2022 wird eine Verdopplung erwartet) kann allein schon wegen der Klimakrise nicht die Lösung sein. 
<br> 
<br> Daher ist unser Energiesystem dringend umzustellen. Dazu gibt es das sogenannte Energieflußdiagramm, aus dem die wesentlichen Energieflüsse ersichtlich sind.
<br> 
<br> Wir schlagen die Energiewende als Ausweg vor und folgender Energiefluss scheint uns bis 2030 (mit ausreichend politischem Willen) realistisch.
<br>
<br> Folgende Maßnahmen sind dazu unter anderem zielführend:
<br>
<br> •) Schadensausgleich (Internalisierung externer Kosten, oft "Kostenwahrheit" genannt) im Energiebereich
<br> •) Elektrifizierung aller Sektoren (Verkehr, Industrie, Haushalte usw.)
<br> •) Verkehrswende (Größter Energieverbrauch, siehe Energieflußdiagramm)
<br> •) Saisonspeicher für Wärme und Strom, um Angebots- und Nachfrageschwankungen auszugleichen 
<br>
<br>
<br> <b> <a href="https://www.w3schools.com/html/default.asp">Quelle</a> </b>
<br>

<li>Stand 27.3.2022, 1:15</html>
  </p>
</section>
