---
title: Getting started
layout: layouts/base.njk
excludeFromSitemap: true
---

<section class="md:mt-20">
<h1>Handelsembargo</h1>
2. Ein totales Handelsembargo gegen Russland und Belarus (ausgenommen humanit&auml;re G&uuml;ter) mit wirksamen strafrechtlichen Sekund&auml;rsanktionen.
<hr>Wir meinen, zur Erschwerung der Kriegsfinanzierung geh&ouml;rt auch, den Angreifern keine Güter mehr abzukaufen (z.B. Erd&ouml;l und Erdgas) und dies auch von der Wirtschaft zu verlangen (mit Konsequenzen bei Mi&szlig;achtung, sog. Sekund&auml;rsanktionen), was uns zu unserer <a href="3.htm">3. Forderung</a> bringt...
<hr>Stand 27.3.2022, 1:35
</html>
</section>
