---
title: Handelsembargo
layout: layouts/base.njk
excludeFromSitemap: true
---

<section class="md:mt-20">
  <h1>Handelsembargo</h1>
  <p>
  
Ein totales Handelsembargo gegen Russland und Belarus (ausgenommen humanitäre Güter) mit wirksamen strafrechtlichen Sekundärsanktionen.
Wir meinen, zur Erschwerung der Kriegsfinanzierung gehört auch, den Angreifern keine Güter mehr abzukaufen (z.B. Erdöl und Erdgas) und dies auch von der Wirtschaft zu verlangen (mit Konsequenzen bei Missachtung, sog. Sekundärsanktionen).<br>


<br>
<b>  <br></b><br>
<b> <br></b>
<br>

<li>Stand 27.3.2022, 1:15</html>
  </p>
</section>
