---
title: Österreichisches Friedensvolksbegehren
layout: layouts/base.njk
---

{% import "components/ticker.njk" as ticker %}
{% import "components/section-heading.njk" as section %}
{% import "components/zinger-cta.njk" as zinger %}

<section class="mt-16">
  <p class="w-1/2 text-center">Dies ist ein Friedensvolksbegehren von Österreich und für die Welt.</p>
  <h1 class="hero-text" text-center>Friedensvolksbegehren</h1>
  
  <p class=> Das österreichische Friedensvolksbegehren definiert sich hiermit durch die folgenden Ziele.<br>
<br>
<b> Um den Ukraine-Krieg (und andere Kriege) möglichst schnell zu beenden, fordern wir vom Bundesgesetzgeber durch Bundesverfassungsbeschlüsse: <br></b>

<br>
<b> 1. Mit wirtschaftspolitischen Gesetzen Abhängigkeiten von Despoten verhindern<br></b>
<br>

Art. 4 des Vertrages der EU weist den Schutz der nationalen Sicherheit als alleinige Kompetenz der Mitgliedsstaaten aus. Der Gesetzgeber soll zu unserer Sicherheit undemokratische Regime auflisten und mit Zollgesetzen verbieten, dass Rohstoffe und Schlüsseltechnologien mit zu großen Anteilen von diesen Ländern importiert werden dürfen.<br>

<br>
<b> 2. Kreislaufwirtschaft <br></b>
<br>

Um Rohstoffe sparsamer zu verwenden, Reparatur und Recycling fördern und somit Arbeitsplätze nach Österreich verlagern.<br>

<br>
<b> 3. Energiewende <br></b>
<br>

Schleunigst den Ausstieg aus fossiler Energie und Ausbau der erneuerbaren mit Förderungen, steuerlichen Anreizen und weiteren CO2-Abgaben.<br>

<br>
<b> 4. Mobilitätswende <br></b>
<br>

Öffentliche Verkehrsmittel rasch massiv auszubauen, E-Mobilität und Fahrräder zu fördern und Verbrenner so bald als möglich nicht mehr zuzulassen.<br>

<br>
<b> 5. Handelsembargo <br></b>
<br>

Ein totales Handelsembargo gegen Russland und Belarus (ausgenommen humanitäre Güter) mit wirksamen strafrechtlichen Sekundärsanktionen.<br>

<br>
<b> 6. Vermögensverschleierung und Geldwäsche mit wirksameren Gesetzen bekämpfen <br></b>
<br>

Um die Kriegsfinanzierung zu erschweren, Putins Regime, dessen Financiers und russische sowie weißrussische Millionäre per Gesetz zur kriminellen Organisation zu erklären.<br>

<br>
<b> 7. Einen sozialen Ausgleich für die Kosten des Embargos<br></b>
<br>

Sozialer Ausgleich in Form eines Heizkostenzuschusses und bei größerer Inflation Lebensmittelunterstützung <br>

<br>
Unterstütze das Friedensvolksbegehren <br>
auf deiner Gemeinde / auf dem Magistrat! <br> <br>
Jede Unterschrift hilft den Krieg zu beenden und verhindert weitere Kriege.

</p>
</section>

