---
title: Kreislaufwirtschaft
description: Detailseite zur Kreislaufwirtschaft
layout: layouts/base.njk
---

<section class="md:mt-20">
  <h1>Kriegsfinanzierung erschweren</h1>
  <p>


<br>
<b> Beim Warenkonsum sollte man immer die 6R-Regel beachten:

    Refuse: Nicht gekauftes richtet gar keinen Schaden an, langlebiges meist weniger als Billigramsch. Also zuerst Nachdenken: "Brauche ich das wirklich?"
    Reduce: Wirklich nötige Menge kaufen statt Aktionsgroßmengen
    Reuse: Nicht mehr nötiges Verkaufen/Verschenken statt Wegwerfen
    Repair: Reparieren statt Ersetzen bzw. Produkte überhaupt erst reperabel entwerfen...
    Recycle: Nachnutzung (Up-/Downcycling) statt Wegwerfen
    Rot: Wenn gar nichts mehr geht: Kompostieren (verrottbares)  <br></b><br>
<b> <a href="https://www.w3schools.com/html/default.asp">Quelle</a> <br></b>
<br>

<li>Stand 27.3.2022, 1:15</html>
  </p>
</section>
