---
title: Kreislaufwirtschaft
description: Detailseite zur Kreislaufwirtschaft
layout: layouts/base.njk
---

<section class="md:mt-20">
  <h1>Kreislaufwirtschaft</h1>
  <p>

<br>
<br> Beim Warenkonsum sollte man immer die 6R-Regel beachten:

<br> Refuse: Nicht gekauftes richtet gar keinen Schaden an, langlebiges meist weniger als Billigramsch. Also zuerst Nachdenken: "Brauche ich das wirklich?"
<br> Reduce: Wirklich nötige Menge kaufen statt Aktionsgroßmengen
<br> Reuse: Nicht mehr nötiges Verkaufen/Verschenken statt Wegwerfen
<br> Repair: Reparieren statt Ersetzen bzw. Produkte überhaupt erst reperabel entwerfen...
<br> Recycle: Nachnutzung (Up-/Downcycling) statt Wegwerfen
<br> Rot: Wenn gar nichts mehr geht: Kompostieren (verrottbares)  
<br>
<br>

<b> <a href="https://www.w3schools.com/html/default.asp">Quelle</a> </b>

<br>
<br>

<li>Stand 27.3.2022, 1:15</html>
  </p>
</section>
