---
title: "Kriegsfinanzierung erschweren"
description: "Detailseite zu Kriegsfinanzierung"
layout: layouts/base.njk
---

<section class="md:mt-20">
  <h1>Kriegsfinanzierung erschweren</h1>
  <p>
  
1. Um die Kriegsfinanzierung zu erschweren; Putins Regime, dessen Financiers und russische sowie weissrussische Million&auml;re per Gesetz zur kriminellen Organisation zu erkl&auml;ren, ihre Verm&ouml;gensverschleierung und Geldw&auml;sche mit wirksameren Gesetzen zu bek&auml;mpfen.

<hr> Jeder Tag Krieg kostet Russland schätzungsweise mehrere Milliarden Euro
<ul><li>https://www.pressetext.com/news/vier-tage-krieg-kosten-russland-6-4-mrd-euro.html
</ul>

<hr>Stand 27.3.2022, 1:15</html>
  </p>
</section>
