---
title: "Kriegsfinanzierung erschweren"
description: "Detailseite zu Kriegsfinanzierung"
layout: layouts/base.njk
---

<section class="md:mt-20">
  <h1>Kriegsfinanzierung erschweren</h1>
  <p>
  
<html><title>friedensvolksbegehren.jetzt</title>

<h1><a href="start.htm">friedensvolksbegehren.jetzt</a></h1>
<h1>Kriegsfinanzierung erschweren</h1>

1. Um die Kriegsfinanzierung zu erschweren Putins Regime, dessen Financiers und russische sowie weissrussische Million&auml;re per Gesetz zur kriminellen Organisation zu erkl&auml;ren, ihre Verm&ouml;gensverschleierung und Geldw&auml;sche mit wirksameren Gesetzen zu bek&auml;mpfen.

<hr> Seit Kriegsbeginn sind:
<ul><li>xxxxx Soldaten mit yyy Panzern, zz Raketenwerfern usw. im Einsatz
<li>lllll Soldaten und zzzzzz Zivilisten umgekommen
<li>rrr Mio. Rubel (ca. eee Mio. Euro) auf russischer Seite und uuu Mio. xxx (ca. kkk Mio. Euro) auf Ukrainischer Seite zur Finanzierung aufgewendet worden

</ul>Wir meinen, da&szlig; der Krieg schnell zuende ist, wenn den Angreifern der Geldhahn zugedreht wird...

<hr>Stand 27.3.2022, 1:15</html>
  </p>
</section>
