---
title: "Kriegsfinanzierung erschweren"
description: "Detailseite zu Kriegsfinanzierung"
layout: layouts/base.njk
---

<section class="md:mt-20">
  <h1>Kriegsfinanzierung erschweren</h1>
  <p>
  
Um die Kriegsfinanzierung zu erschweren, verlangen wir von der Bundesregierung, Putins Regime und dessen Financiers sowie russische und weissrussische Millionäre die damit in Kontakt stehen, per Gesetz zur kriminellen Organisation zu erklären, und ihre Vermögensverschleierung und Geldwäsche mit wirksameren Gesetzen zu bekämpfen.<br>


<br>
<b> Jeder Tag Krieg kostet Russland mehrere Milliarden Euro. <br></b><br>
<b> <a href="https://www.w3schools.com/html/default.asp">Quelle</a> <br></b>
<br>

<li>Stand 27.3.2022, 1:15</html>
  </p>
</section>
