---
title: Mobilitaetswende
description: Detailsseite zur Mobilitaetswende
layout: layouts/base.njk
---

<section class="md:mt-20">
  <h1>Mobilitätswende</h1>
  <p>
  
<br> Öffentliche Verkehrsmittel rasch und massiv auszubauen, E-Mobilität und Fahrräder fördern und Verbrenner so bald als möglich nicht mehr zuzulassen.
<br>
<br> Nahversorgung ausbauen (Wege verkürzen)
<br>
<br> Internalisierung externer Kosten sämtlicher Verkehrsmittel (moderate MÖSt-Erhöhung mit pauschaler Abgeltung für die Landbevölkerung)
<br>
<br> Wiederinbetriebnahme der meisten seit 1920 eingestellter Bahnstrecken
<br>
<br> Reaktivierung/Neubau folgender Strecken:
<br>
<br>    •) Laa an der Thaya-Hevlin (2km)
<br>    •) Schwarzenau-Waidhofen an der Thaya-Slavonice
<br>    •) Schwarzenau-Göpfritz an der Wild-Horn-Eggenburg-Hollabrunn-Mistelbach-Gänserndorf-Angern an der March-Malacky
<br>    •) Friedberg-Oberwart-Szombathely
<br>    •) Gleisdorf-Söchau-Fürstenfeld-Szentgotthard
<br>    •) Donauuferbahn Sarmingstein-Emmersdorf 
<br>
<br> Pendlerpauschale umweltfreundlich reformieren
<br>
<br> Öffitickets vergünstigen
<br>
<br>

<b> <a href="https://www.w3schools.com/html/default.asp">Quelle</a> </b>
<br>
<br>

<li>Stand 27.3.2022, 1:15</html>
  </p>
</section>
